@media screen and (min-width: 1240px){
    .todo-list__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        font-size: 14px;
    }

    .button {
        border: none;
        background: transparent;
        font-family: 'Josefin Sans', sans-serif;
    }

    .dark .button {
        color: hsl(234, 11%, 52%);
    }

    .light .button {
        color: hsl(235, 19%, 35%);
    }
}

@media screen and (max-width: 1240px){
    .todo-list__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        font-size: 14px;
    }

    .button {
        border: none;
        background: transparent;
        font-family: 'Josefin Sans', sans-serif;
    }

    .dark .button {
        color: hsl(234, 11%, 52%);
    }

    .light .button {
        color: hsl(235, 19%, 35%);
    }

}


