@media screen and (min-width: 749px){
    .todo-list__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        font-size: 14px;
    }

    .button {
        border: none;
        background: transparent;
        font-family: 'Josefin Sans', sans-serif;
        color: whitesmoke;
    }
}

@media screen and (max-width: 749px){
    .todo-list__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        font-size: 14px;
    }

    .button {
        border: none;
        background: transparent;
        font-family: 'Josefin Sans', sans-serif;
        color: whitesmoke;
    }

}


