.add-panel {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color:  hsl(237, 14%, 26%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding-left: 1rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    color: whitesmoke;
}