.todo-list__item {
    padding: 1rem 1.5rem;
    border-radius: 0.3rem 0.3rem 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.dark .todo-list__item {
    border-bottom: 1px solid hsl(234, 11%, 52%);
    background-color: hsl(237, 14%, 26%);
    color: hsl(236, 33%, 92%);
}

.light .todo-list__item {
    border-bottom: 1px solid hsl(233, 11%, 84%);
    background-color: hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}

.item {
    display: flex;
    line-height: 1.7rem;
}

.item-check {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    cursor: pointer;
}

.dark .item-check {
    border: 1px solid hsl(234, 11%, 52%);
}

.dark .item-check:hover {
    border: 1px solid hsl(233, 11%, 84%);
}

.light .item-check {
    border: 1px solid hsl(236, 33%, 92%);
}

.light .item-check:hover {
    border: 1px solid hsl(236, 9%, 61%);
}

.item.done .item-check {
    background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.check-icon {
    display: none;
}

.item.done .item-check .check-icon {
    display: block;
}

.item-label {
    cursor: pointer;
}

.item.done .item-label {
    text-decoration: line-through;
    color: hsl(233, 11%, 84%);
}

.item-remove {
    display: none;

}

.todo-list__item:hover .item-remove {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: none;
}



