@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@media screen and (min-width: 1240px){
    .app {
        min-height: 100vh;
        font-family: 'Josefin Sans', sans-serif;
        padding: 0 25rem 10rem;
        margin: auto;
    }

    .app.light {
        background-image: url("../../images/bg-desktop-light.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: hsl(0, 0%, 98%);
    }

    .app.dark {
        background-image: url("../../images/bg-desktop-dark.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: hsl(235, 21%, 11%);
    }
}

@media screen and (max-width: 1240px){
    .app {
        min-height: 100vh;
        font-family: 'Josefin Sans', sans-serif;
        padding: 0 1.5rem 4rem;
    }

    .app.light {
        background-image: url("../../images/bg-mobile-light.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: hsl(0, 0%, 98%);
    }

    .app.dark {
        background-image: url("../../images/bg-mobile-dark.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: hsl(235, 21%, 11%);
    }
}
