.todo-list {
    background-color: hsl(237, 14%, 26%);
    border-radius: 0.3rem;
    color: whitesmoke;
    touch-action: none;
}

.todo-list__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
}