.todo-list {
    border-radius: 0.3rem;
    touch-action: none;
    user-select: none;
}

.todo-list__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
}

.dark .todo-list {
    background-color: hsl(237, 14%, 26%);
    color: hsl(234, 11%, 52%);
    box-shadow: 0 1rem 2.4rem -0.4rem black;
}

.light .todo-list {
    background-color:  hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
    box-shadow: 0 1rem 2.4rem -0.4rem hsl(233, 11%, 84%);
}