@media screen and (min-width: 749px){
    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;
        padding-bottom: 4rem;
    }

    .header__name {
        margin: 0;
        color: whitesmoke;
        font-size: 36px;
        letter-spacing: 1rem;
    }

    .header__change-button {
        cursor: pointer;
    }
}

@media screen and (max-width: 749px){
    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }

    .header__name {
        margin: 0;
        color: whitesmoke;
        font-size: 32px;
        letter-spacing: 1rem;
    }

    .header__change-button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
