@media screen and (min-width: 1240px){
    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;
        padding-bottom: 4rem;
        user-select: none;
    }

    .header__name {
        margin: 0;
        color: whitesmoke;
        font-size: 36px;
        letter-spacing: 1rem;
    }

    .header__change-button {
        cursor: pointer;
        background: transparent;
        border: none;
    }
}

@media screen and (max-width: 1240px){
    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }

    .header__name {
        margin: 0;
        color: whitesmoke;
        font-size: 32px;
        letter-spacing: 1rem;
    }

    .header__change-button {
        background: transparent;
        border: none;
    }
}

.dark .moon{
    display: none;
}

.light .sun {
    display: none;
}
